body{

font-family:'Segoe UI',sans-serif;
height:100vh;
margin:0;

background:linear-gradient(135deg,#667eea,#764ba2,#ff758c);

display:flex;
justify-content:center;
align-items:center;

}

.container{

backdrop-filter:blur(20px);
background:rgba(255,255,255,0.15);

padding:40px;
width:400px;

border-radius:20px;

box-shadow:0 10px 40px rgba(0,0,0,0.3);

color:white;

text-align:center;

}

h1{

margin-bottom:20px;

}

.input-box{

position:relative;

}

input{

width:100%;
padding:14px;

border-radius:10px;

border:none;

outline:none;

font-size:16px;

}

.input-box i{

position:absolute;

right:15px;

top:15px;

cursor:pointer;

color:black;

}

.strength-bar{

width:100%;
height:10px;

background:#ddd;

border-radius:10px;

margin-top:20px;

overflow:hidden;

}

#strength{

height:10px;

width:0%;

transition:0.4s;

}

.rules{

margin-top:20px;
text-align:left;

}

.rules p{

margin:5px 0;

}

#crackTime{

margin-top:20px;
font-weight:bold;

}